.container {
    padding: 5px 10px;
    font-size: 1rem;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.aboutShopitt {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;    
    min-height: 100vh;
    box-sizing: border-box;
}

.aboutHeader {
    font-size: 2rem;
    color: #6050DC;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;    
  
}

.aboutBody {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;    
    
}

.aboutDev {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;    
    margin-top: 5rem;
}

.devHeader {

    font-size: 2rem;
    color: #6050DC;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;    
   
}




