.login-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;    
    min-height: 100vh;
    padding: 60px 40px;
    background-color: #f8f9fa;
    box-sizing: border-box;

    
}

.login-card {
  width: 100%;
  max-width: 460px;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.5);
  background: white;
}

.login-title {
   text-align: center;
}

.login-subtitle {
    font-size: 16px;
    color: #777;
    margin-bottom: 20px;
    text-align: center;
}

.form-label {
    font-weight: 500;
    color: #333;
}

.form-control {
    border-radius: 6px;
    padding: 10px;
    font-size: 16px;
}

.login-btn {
    background-color: #6050DC;
    border-color: #6050DC;
    font-size: 1rem;
}

.login-btn:hover {
    background-color: #4b3bcb;
    border-color: #4b3bcb;
}

.login-footer {
    text-align: center;
    margin-top: 20px;
}

.login-footer a {
    color: #6050DC;
    text-decoration: none;
}

.login-footer p{
    margin: 5px 0;
    font-size: 14px;
}

.login-footer a:hover {
    text-decoration: underline;
}

.form-check-label {
    font-size: 14px;
    color: #555;
}

