@media (max-width: 991px) {
     .responsiveCart {
        display: inline-block;
    }
    
   
}


 .responsiveCart {
        display: none;
    }

 /* span {
    margin-top: 1rem;
    margin-left: 1rem;
}  */
    .stickyNavBar {
    position: sticky !important;
    top: 0;
    z-index: 1000;
}